body {
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: orangered;
    font-weight: 500;
    font-family: sans-serif;
    margin: 1px;
    animation: colorchange 2s infinite alternate;
}

.calculator {
    width: 500px;
    margin-top: 20px;
    overflow: hidden;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
}

#display {
    width: 100%;
    padding: 20px;
    background-color: rgb(7, 3, 3);
    text-align: left;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    border: none;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: transparent;
    gap: 10px;
    margin-left: 15px;
}

button {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 1.8rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3 ease;
}

button:hover {
    background-color: #077e3d;
    transform: scale(1.05);
}

button:active {
    box-shadow: 0 0 20px #ffd700;
    transform: scale(0.95);
}

.special-btn {
    background-color: rgba(255, 165, 0, 0.3);
}

.special-btn:hover {
    background-color: orange;
}

@keyframes colorchange {
    0% {
        color: red;
    }
    50% {
        color: yellow;
    }
    100% {
        color: lime;
    }
}